/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 16px;
    color: white;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

body {
    /* Different black background colors */
    /* background-color: #1b1b1d; */
    background-color: #171719;
    /* background-color: #191919; */
    padding: 0 0.5rem;
}

h1 {
    font-size: 2rem;
}

nav {
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
}

nav ul,
nav button {
    display: none;
}

nav span.nav-title {
    display: block;
    height: fit-content;
    font-size: 1.5rem;
    text-align: center;
}

main {
    padding-top: 1rem;
}

main section:last-child {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

main section:last-child > div {
    border: 1px solid darkgray;
    border-radius: 12px;
    padding: 2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}

main p {
    line-height: 1.5rem;
}

.club-section span:first-of-type {
    font-size: 1.3rem;
    font-weight: bold;
}

.club-section span:last-child {
    color: lightgray;
}

a:hover {
    color: #ffce00;
}

.fa-code {
    color: #ffce00;
}

/******************************************
/* LAYOUT
/*******************************************/

/*Grabs both buttons*/
main section:first-child div {
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px;
    border-radius: 8px;
    font-size: 1.1rem;
}

main section:first-child div button:first-child {
    background: #ffce00;
}

main section:first-child div button:last-child {
    background: #171719;
    color: white;
    border: 1px solid darkgray;
}
/******************************************
/* Media Queries
/*******************************************/

@media (min-width: 768px) {
    nav ul {
        display: flex;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.pill {
    display: block;
    margin-bottom: 4px;
    color: rgb(255, 206, 22);
    font-size: 1.1rem;
    border: none;
    width: fit-content;
    border-radius: 12px;
    padding: 2px 4px;
    /*Favorite background color so far*/
    background-color: rgba(255, 206, 22, 0.1);
}

i {
    color: #ffce00;
}
