/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 16px;
    color: white;

    font-family: "Outfit", sans-serif;
    font-style: normal;
}

body {
    /* Different black background colors */
    /* background-color: #1b1b1d; */
    background-color: #171719;
    /* background-color: #191919; */

}

h1 {
    font-size: 3.8rem;
    margin: 0;
    letter-spacing: 2px;
}

a:hover {
    color: #FFCE00;
}

.fa-code {
    color: #FFCE00;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
    border: 2px solid white;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

header ul {
    padding: 0;
    display: flex;
    column-gap: 2rem;
    border: 2px solid white;
    font-size: 1.25rem;
}


header ul a {
    text-decoration: none;
    color: white;
}

header ul li {
    border: 2px solid lightgreen;
    list-style: none;
}

nav span.nav-title {
    display: block;
    border: 2px solid white;
    height: fit-content;
    font-size: 1.5rem;

}

footer {}

main {
    border: 2px solid white;
    display: flex;
}

main section {
    width: 50%;
    padding: 5rem;
    border: 2px solid white;
}

main section > span {
    display: block;
    margin-bottom: 4px;
    color: rgb(255, 206, 22);
    font-size: 1.1rem;
    border: none;
    width: fit-content;
    border-radius: 12px;
    padding: 2px 4px;
    /* background-color: #2a2c01; My favorite background color so far*/
    background-color: rgba(255, 206, 22, 0.1);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/