/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 16px;
    color: white;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

body {
    /* Different black background colors */
    /* background-color: #1b1b1d; */
    background-color: #171719;
    /* background-color: #191919; */
    padding: 0 0.5rem;
}

h1 {
    font-size: 2rem;
}

nav {
    border-bottom: 2px solid white;
    padding: 0.5rem 0;
}

nav ul,
nav button {
    display: none;
}

nav span.nav-title {
    display: block;
    height: fit-content;
    font-size: 1.5rem;
    text-align: center;
}

main {
    padding-top: 1rem;
}

main section:last-child {
    border: 2px solid red;
}

main section div {
    border: 2px solid white;
    padding: 1.5rem;
}

a:hover {
    color: #ffce00;
}

.fa-code {
    color: #ffce00;
}

/******************************************
/* LAYOUT
/*******************************************/

/* header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
} */

/* header ul {
    padding: 0;
    display: flex;
    column-gap: 2rem;
    border: 2px solid white;
    font-size: 1.25rem;
}


header ul a {
    text-decoration: none;
    color: white;
}

header ul li {
    border: 2px solid lightgreen;
    list-style: none;
}


footer {}

main {
    border: 2px solid white;
    width: 100%;
    display: flex;
} */

/* main section {
    width: 50%;
    padding: 5rem;
    border: 2px solid white;
} */

/*Grabs both buttons*/
main section:first-child div {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

/******************************************
/* Media Queries
/*******************************************/

@media (min-width: 768px) {
    nav ul {
        display: flex;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.pill {
    display: block;
    margin-bottom: 4px;
    color: rgb(255, 206, 22);
    font-size: 1.1rem;
    border: none;
    width: fit-content;
    border-radius: 12px;
    padding: 2px 4px;
    /*Favorite background color so far*/
    background-color: rgba(255, 206, 22, 0.1);
}
